<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css" />
        <meta charset="ISO-8859-1" />
        <h:outputStylesheet library="css" name="popup.css"/>
		<h:outputStylesheet library="css" name="bmStyle.css"/>
        <h:outputScript library="js" name="popup.js"/>
        <h:outputScript library="js" name="coachtourwish.js"/>
        <title>Busmaster - Driver - Coach Tour</title>
    </h:head>
    <body>
        <div class="pure-g">
            <div class="pure-u-1-5">
                <div class="pure-menu pure-menu-open" >
                    <a class="pure-menu-heading" style="background-color:#0066CC;margin-top:0px;color:#fff;font-size:16px;font-weight:bold;">Busmaster <br /><small>(User: ${user.driver.firstName} ${user.driver.lastName})</small></a>

                    <ul>
                        <li><a href="overview.xhtml">Overview</a></li>
                        <li><a href="holiday.xhtml">Holiday</a></li>
                        <li><a href="shift.xhtml">Shift</a></li>
                        <li><a href="coachtour.xhtml"  style="background-color:#0066CC;color:#fff">Coach tour</a></li>
                        <li><h:form><h:commandLink action="#{user.logout}">Logout</h:commandLink></h:form></li>

                    </ul>
                </div>
            </div>
            <div class="pure-u-1-2" style="margin-left:15px;"><h1>Coach Tour Requests</h1>
                <h:dataTable value="${coachTourScheduleManageBean.coachTourSchedules}" var="cts"
					styleClass="dTable"
					headerClass="dTableHeader"
					rowClasses="dTableOddRow,dTableEvenRow">
                    <h:column>
                        <f:facet name="header">Select</f:facet>
                        <input type="checkbox" name="selectable" value="${cts.ID}" />
                    </h:column>
                    <h:column>
                        <!-- column header -->
                        <f:facet name="header">Specification</f:facet>
                        <!-- row record -->
                        ${cts.specification}
                    </h:column>
                    <h:column>
                        <!-- column header -->
                        <f:facet name="header">Start date</f:facet>
                        <!-- row record -->
                        <h:outputText value="#{cts.start}" >
                            <f:convertDateTime pattern="dd.MM.yyyy HH:mm" />
                        </h:outputText>
                    </h:column>
                    <h:column>
                        <!-- column header -->
                        <f:facet name="header">End date</f:facet>
                        <!-- row record -->
                        <h:outputText value="#{cts.end}" >
                            <f:convertDateTime pattern="dd.MM.yyyy HH:mm" />
                        </h:outputText>
                    </h:column>
                    <h:column>
                        <!-- column header -->
                        <f:facet name="header">Distance</f:facet>
                        <!-- row record -->
                        ${cts.distance} km
                    </h:column>
                    <h:column>
                        <!-- column header -->
                        <f:facet name="header">Travel time</f:facet>
                        <!-- row record -->
                        #{cts.travelTime} min
                    </h:column>
                    <h:column>
                        <!-- column header -->
                        <f:facet name="header">Idle time</f:facet>
                        <!-- row record -->
                       #{cts.standingTime} min
                    </h:column>
                    <h:column>
                        <!-- column header -->
                        <f:facet name="header">Number of drivers</f:facet>
                        <!-- row record -->
                        ${cts.numberOfDrivers}
                    </h:column>
                </h:dataTable>
                <br />
                <input value="Request" type="submit" class="pure-button pure-button-primary" onclick="coachTourHol()" />
            </div>
        </div>
        
<div id="light"></div>
<div id="fade"></div> 
    </body>
</html>