<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<head>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css" />
<meta charset="ISO-8859-1" />
<title>Login - Busmaster</title>
</head>
<body style="margin-top:25px">
	
	<div class="pure-g">
	<div class="pure-u-1-3"><p></p></div>
	<div class="pure-u-1-3" style="border:1px solid black">
	<h:form class="pure-form pure-form-aligned">
	<h1>Driver-Login</h1>
	<fieldset>
		<div class="pure-control-group">
		<label for="uName">Username</label>
		<h:inputText id="uName" required="true" value="#{user.name}" class="pure-input" />
		<h:message for="uName" style="color:red" />
		</div>
		<div class="pure-control-group">
		<label for="pw">Password</label>
		<h:inputSecret  id="pw" value="#{user.pw}" required="true" class="pure-input" />
		<h:message for="pw" style="color:red" />
		</div>
		<div class="pure-control-group" style="width:43%; float:right">
		<h:commandButton value="Sign in" action="#{user.login}"  class="pure-button pure-button-primary"/>
		</div>
	</fieldset>
	</h:form>
	<p style="color:red">${user.err}</p>
	</div>
	<div class="pure-u-1-3"><p></p></div>
	</div>
</body>
</html>