<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css" />
<h:outputStylesheet library="css" name="popup.css"/>
<h:outputStylesheet library="css" name="bmStyle.css"/>
<h:outputScript library="js" name="popup.js"/>
<h:outputScript library="js" name="wishes.js"/>
<meta charset="ISO-8859-1" />
<title>Busmaster - Driver - Overview</title>
</h:head>
<body>
<div class="pure-g">
	<div class="pure-u-1-5">
	<div class="pure-menu pure-menu-open" >
    <a class="pure-menu-heading" style="background-color:#0066CC;margin-top:0px;color:#fff;font-size:16px;font-weight:bold;">Busmaster <br /><small>(User: ${user.driver.firstName} ${user.driver.lastName})</small></a>

    <ul>
        <li><a href="overview.xhtml" style="background-color:#0066CC;color:#fff">Overview</a></li>
        <li><a href="holiday.xhtml">Holiday</a></li>
        <li><a href="shift.xhtml">Shift</a></li>
        <li><a href="coachtour.xhtml">Coach tour</a></li>
		<li><h:form><h:commandLink action="#{user.logout}">Logout</h:commandLink></h:form></li>

    </ul>
</div>
</div>
<div class="pure-u-1-2"  style="margin-left:15px;"><h1>Overview</h1>
	<h2>Welcome ${user.driver.firstName} ${user.driver.lastName}</h2>
	<p>
		On this site all your request are listed. To delete one request please press the red button on the right hand side of the according entry.<br />
		To request holidays please click on &quot;Holiday&quot; at the navigation panel on the left hand side.<br />
		In order to see your schedules and tell the system if you like them or not please select &quot;Shift&quot;.<br />
		&quot;Coach tour&quot; will lead you to all coach tours, which are in need of a driver. If you would like to be assigned to one you can request it on this site.
	</p>
	<h2>Holiday Requests</h2>
	<h:dataTable value="#{wishes.holidays}" var="h"
		styleClass="dTable"
		headerClass="dTableHeader"
		rowClasses="dTableOddRow,dTableEvenRow"
		columnClasses="dTHStart,dtHEnd,dTableRight">
 
    			<h:column>
    				<!-- column header -->
    				<f:facet name="header">Start</f:facet>
    				<!-- row record -->
    				<h:outputText value="#{h.start}" >
              			<f:convertDateTime pattern="dd.MM.yyyy" />
 					</h:outputText>
    				
    			</h:column>
 
    			<h:column>
    				<f:facet name="header">End</f:facet>
    				<h:outputText value="#{h.end}" >
              			<f:convertDateTime pattern="dd.MM.yyyy" />
 					</h:outputText>
    			</h:column>
 
    			<h:column>
    				<f:facet name="header">Delete</f:facet>
    				<input value="X" type="submit" class="button-warning pure-button" style="background: rgb(202, 60, 60); color:#fff; font-weight:bold;" onclick="delWish(#{h.id}, 'holiday')"/>
    			</h:column>
 
    		</h:dataTable>
    		
    		<h2>Coach Tour Requests</h2>
			<h:dataTable value="#{wishes.coachTours}" var="c"
		styleClass="dTable"
		headerClass="dTableHeader"
		rowClasses="dTableOddRow,dTableEvenRow"
		columnClasses="dTCSepc,dTCStart,dTCSEnd,dTCDist,dTCTTime,dTCITime,dTCDrivers,dTableRight">
                <h:column>
    				<!-- column header -->
                    <f:facet name="header">Specification</f:facet>
    				<!-- row record -->
                    ${c.coachTourSchedule.specification}
                </h:column>
                <h:column>
    				<!-- column header -->
                    <f:facet name="header">Start date</f:facet>
    				<!-- row record -->
                    <h:outputText value="#{c.coachTourSchedule.start}" >
              			<f:convertDateTime pattern="dd.MM.yyyy HH:mm" />
 					</h:outputText>
                </h:column>
                <h:column>
    				<!-- column header -->
                    <f:facet name="header">End date</f:facet>
    				<!-- row record -->
                    <h:outputText value="#{c.coachTourSchedule.end}" >
              			<f:convertDateTime pattern="dd.MM.yyyy HH:mm" />
 					</h:outputText>
                </h:column>
                <h:column>
    				<!-- column header -->
                    <f:facet name="header">Distance</f:facet>
    				<!-- row record -->
                    ${c.coachTourSchedule.distance} km
                </h:column>
                <h:column>
    				<!-- column header -->
                    <f:facet name="header">Travel time</f:facet>
    				<!-- row record -->
                    ${c.coachTourSchedule.travelTime} min
                </h:column>
                <h:column>
    				<!-- column header -->
                    <f:facet name="header">Idle time</f:facet>
    				<!-- row record -->
                    #{c.coachTourSchedule.standingTime} min
                </h:column>
                <h:column>
    				<!-- column header -->
                    <f:facet name="header">Number of drivers</f:facet>
    				<!-- row record -->
                    ${c.coachTourSchedule.numberOfDrivers}
                </h:column>

 
    			<h:column>
    				<f:facet name="header">Delete</f:facet>
                    <input value="X" type="submit" class="button-warning pure-button" style="background: rgb(202, 60, 60); color:#fff; font-weight:bold;" onclick="delWish(#{c.ID}, 'coachtour')"/>
    			</h:column>
 
    		</h:dataTable>
    		
    		<h2>Shift Requests</h2>
    		<h:dataTable value="#{wishes.shifts}" var="s"
		styleClass="dTable"
		headerClass="dTableHeader"
		rowClasses="dTableOddRow,dTableEvenRow"
		columnClasses="dTSDescc,dTSDate,dTSReq,dTableRight">
 
    			<h:column>
    				<!-- column header -->
    				<f:facet name="header">Description</f:facet>
    				<!-- row record -->
    				#{s.shift.definition.specification}    				
    			</h:column>
 
    			<h:column>
    				<f:facet name="header">Date</f:facet>
    				<h:outputText value="#{s.shift.date}" >
              			<f:convertDateTime pattern="dd.MM.yyyy" />
 					</h:outputText>
    			</h:column>
    			
    			<h:column>
    				<f:facet name="header">Requested</f:facet>
    				#{s.wished}
    			</h:column>
 
    			<h:column>
    				<f:facet name="header">Delete</f:facet>
    				<input value="X" type="submit" class="button-warning pure-button" style="background: rgb(202, 60, 60); color:#fff; font-weight:bold;" onclick="delWish(#{s.ID}, 'shift')"/>
    			</h:column>
 
    		</h:dataTable>
</div>


</div>


<div id="light"></div>
<div id="fade"></div> 
</body>
</html>