<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>

<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css" />
<h:outputStylesheet library="css" name="jquery-ui-1.10.4.custom.css"/>
<h:outputStylesheet library="css" name="popup.css"/>
<h:outputStylesheet library="css" name="bmStyle.css"/>
<h:outputScript library="js" name="jquery-1.10.2.js"/>
<h:outputScript library="js" name="jquery-ui-1.10.4.custom.js"/>
<h:outputScript library="js" name="popup.js"/>
<h:outputScript library="js" name="shiftwish.js"/>
<h:outputScript library="js" name="weekpicker.js" />

<meta charset="ISO-8859-1" />
<title>Busmaster - Driver - Shifts</title>


</h:head>
<body>
<div class="pure-g">
	<div class="pure-u-1-5">
	<div class="pure-menu pure-menu-open" >
    <a class="pure-menu-heading" style="background-color:#0066CC;margin-top:0px;color:#fff;font-size:16px;font-weight:bold;">Busmaster <br /><small>(User: ${user.driver.firstName} ${user.driver.lastName})</small></a>

    <ul>
        <li><a href="overview.xhtml">Overview</a></li>
        <li><a href="holiday.xhtml">Holiday</a></li>
        <li><a href="shift.xhtml"  style="background-color:#0066CC;color:#fff">Shift</a></li>
        <li><a href="coachtour.xhtml">Coach tour</a></li>
		<li><h:form><h:commandLink action="#{user.logout}">Logout</h:commandLink></h:form></li>

    </ul>
</div>
</div>
<div class="pure-u-1-2"  style="margin-left:15px;"><h1>Shift Requests</h1>
	<div class="week-picker"></div>
    <br /><br />
    <label>Week :</label> <span id="startDate"></span> - <span id="endDate"></span>
    <h3>Your shifts <br /><small>Mark anti-request</small>:</h3>
    <div id="shifts"></div>
    <input value="Mark anti-request" type="submit" class="pure-button pure-button-primary" onclick="doWish()" />
</div>
</div>


<div id="light"></div>
<div id="fade"></div> 
</body>
</html>